*{
margin: 0px;
padding: 0px;
font-family: 'Times New Roman', Times, serif;
}
header{
    width: 100%;
    background: rgb(214, 190, 130);
    height: 700px;
}
nav{
    width: 50%;
    float: right;
}
ul{
    text-align: right;
    
}
li{
    display: inline-block;
    margin: 30px;
    border-left: rgb(73, 88, 42) 2px solid;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
h1{
    clear: both;
    width: 100%;
    height: 300px;
    text-align: center;
    padding-top: 50px;
    font-size: 80px;
}