*{
margin: 0px;
padding: 0px;
font-family: 'Times New Roman', Times, serif;
}
body{
    background: rgb(201, 188, 158);
    height: 1000px;
}
header{
    width: 100%;
    background: rgb(214, 190, 130);
    height: 100px;
}
nav{
    width: 50%;
    float: right;
}
ul{
    text-align: right;
    
}
li{
    display: inline-block;
    margin: 30px;
    border-left: rgb(73, 88, 42) 2px solid;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
.contenedor{
    margin-top: 5%;
    margin-left: 30%;
    margin-right: 30%;
    background: #BEC7C7;
    color: black;
    height: 495px;
    width: 50%;

}
form{
    width: 100%;
    height: 100%;
}
h1{
    padding-top: 5%;
    margin-top: 10%;
    width: 100%;
    font-size: 40px;
    text-align: center;
    margin-bottom: 40px;
}
label{
    margin-left: 10%;
    font-size: 25px;
    font-weight: bolder;
}
input{
    margin-left: 10%;
    width: 80%;
    height: 30px;
    font-size: 28px;
}
button{
    margin: 4%;
    margin-left: 35%;
    width: 30%;
    height: 9%;
    font-size: 20px;
    font-weight: bolder;
}