*{
margin: 0px;
padding: 0px;
font-family: 'Times New Roman', Times, serif;
}
header{
    width: 100%;
    background: rgb(214, 190, 130);
    height: 100px;
}
nav{
    width: 50%;
    float: right;
}
ul{
    text-align: right;
    
}
li{
    display: inline-block;
    margin: 30px;
    border-left: rgb(73, 88, 42) 2px solid;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 20px;
}
h1{
    padding-top: 30px;
}
.titulo_camis{
    font-size: 30px;
    font-weight: bolder;
    background: darkgray;
    height: 60px;
}
.contenedor{
    margin-top: 1%;
    margin-left: 30%;
    margin-right: 30%;
    height: 800px;

}
.contenedor1{
    width: 100%;
    height: 150px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    background: rgb(74, 103, 156);
}
.contenedor2{
    width: 100%;
    height: 210px;
    font-size: 20px;
    font-weight: bolder;
    color: black;
    background: rgb(96, 172, 172);
}
p{
    text-align: center;
    
}
.edita{
    
    font-size: 25px;
    color: darkgreen;
    font-weight: bolder;
    margin-left: 35%;
}
form{
    margin-top: -80px;
}
button{
    width: 200px;
    font-size: 25px;
    color: red;
    font-weight: bolder;
    margin-right: 30%;
    height: 90px;

}
